
h1{text-align: center;}
h2{text-align: center;}
#img-div{text-align: center;}
p{margin-left: 10%;
   margin-right: 10%;}
#list{margin-left: 10%;
    margin-right: 10%;}
figcaption{font-size: 15px;}
image{
  max-width: 100%;
  height: auto;
}